.card-img-top {
   width: 100%;
   height: 200px;
}

.custom-card {
   margin-bottom: 20px;
}
.text{
  text-align: center;
  font-weight: bold;
}
.t{
  text-align: center;
  font-weight: bold;
  color: White;
}
.notice{
  font-weight: bold;
}

.marquee-container {
       overflow: hidden;
       white-space: nowrap;
   }

   .marquee-content {
       display: inline-block;
       animation: marqueeAnimation 15s linear infinite;
   }

   .marquee-content:hover {
       animation-play-state: paused;
   }

   @keyframes marqueeAnimation {
       from {
           transform: translateX(40%);
       }

       to {
           transform: translateX(-40%);
       }
   }
   @media screen and (max-width: 640px) {
            .hidden-mobile {
                display: none;
            }

            .lg\:flex {
                display: flex !important;
            }
        }
